<div class="box" v-if='isOp' style="opacity:0.8;width:1000px;left:100px;top:50px">
    <div class="columns">
        <div class="column">
            <button class="button is-large" @click="onPickup(true)">1P</button>
            <button class="button is-large" @click="onPickup(false)">2P</button>
            <button class="button is-large" @click="onShowPickup">出阵</button>
            <label class="label">出场顺序</label>
            <div class="columns">
                <div class="column">
                    <label class="label">1p</label> {{orderArr1p|json}}
                    <p v-for="player in orderPlayerDocArr1p">
                        <img :src="player.portrait" style="width:40px">
                        <a style="font-size:20px" @click="onStartPlayer(0,player)"> {{player.id +' ' +player.name}} </a>
                    </p>
                </div>
                <div class="column">
                    <label class="label">2p</label> {{orderArr2p|json}}
                    <br>
                    <p v-for="player in orderPlayerDocArr2p">
                        <img :src="player.portrait" style="width:40px">
                        <a style="font-size:20px" @click="onStartPlayer(1,player)"> {{player.id +' ' +player.name}} </a>
                    </p>
                </div>
            </div>

            <p>
                <div class="tabs is-boxed">
                    <ul>
                        <li v-for="teamIdx in 8"><a @click="onTabTeam($event,teamIdx)">Team{{teamIdx}}</a></li>
                    </ul>
                </div>
                <div v-for="player in playerDocArr">
                    <a class="box" style="font-size:30px" @click='onPickupPlayer(player)'> <img :src="player.portrait" style="width:80px"> {{player.id +' ' +player.name}}</a>
                    <p>
                </div>
        </div>
        <div class="column">
            <label style="font-size:20px">
            {{gamePlayer1p.name+' vs '+gamePlayer2p.name}}
            </label>
            <p>
                <button class="button is-large" @click="onStartGame()">开始</button>
                <button class="button is-large" @click="onStartGame()">提交</button>
        </div>
    </div>

</div>