<div class="box" v-if='isOp' style="opacity:0.8;width:1000px;left:100px;top:50px">
    <div class="columns">
        <div class="column">
            <label class="label">出场顺序</label>
            <div class="columns">
                <div class="column">
                    <button class="button is-medium" @click="onPickup(true)">1P</button>
                    <label class="label" style="font-size:20px">[{{gamePlayer1p.name}}]</label>
                    <button class="button is-large" @click="onSetBlood(true,-1)"> -1</button>
                    <button class="button is-large" @click="onSetBlood(true,1)">+1</button> {{orderArr1p|json}}
                    <br>
                    <button class="button is-medium" @click="onSetFoul(true,-1)">犯规 -1</button>
                    <button class="button is-medium" @click="onSetFoul(true,1)">犯规 +1</button>
                    <button class="button is-medium" @click="onSetSt(true,-1)">援助 -1</button>
                    <button class="button is-medium" @click="onSetSt(true,1)">援助 +1</button>
                    <br>
                    <p v-for="player in orderPlayerDocArr1p">
                        <img :src="player.portrait" style="width:40px">
                        <a style="font-size:20px" @click="onStartPlayer(0,player)"> {{player.id +' ' +player.name}} {{player.isDead?"败":""}}</a>
                    </p>
                </div>
                <div class="column">
                    <button class="button is-medium" @click="onPickup(false)">2P</button>
                    <label class="label" style="font-size:20px">[{{gamePlayer2p.name}}]</label>
                    <button class="button is-large" @click="onSetBlood(false,-1)"> -1</button>
                    <button class="button is-large" @click="onSetBlood(false,1)"> +1</button>{{orderArr2p|json}}
                    <br>
                    <button class="button is-medium" @click="onSetFoul(false,-1)">犯规 -1</button>
                    <button class="button is-medium" @click="onSetFoul(false,1)">犯规 +1</button>
                    <button class="button is-medium" @click="onSetSt(false,-1)">援助 -1</button>
                    <button class="button is-medium" @click="onSetSt(false,1)">援助 +1</button>
                    <br>
                    <p v-for="player in orderPlayerDocArr2p">
                        <img :src="player.portrait" style="width:40px">
                        <a style="font-size:20px" @click="onStartPlayer(1,player)"> {{player.id +' ' +player.name}} {{player.isDead?"败":""}} </a>
                    </p>
                </div>
            </div>

            <p>
                <div class="tabs is-boxed">
                    <ul>
                        <li v-for="teamIdx in 8"><a @click="onTabTeam($event,teamIdx)">{{teamNameArr[teamIdx-1]}}</a></li>
                    </ul>
                </div>
                <div v-for="player in playerDocArr">
                    <a class="box" style="font-size:15px" @click='onPickupPlayer(player)'> <img :src="player.portrait" style="width:60px"> {{player.id +' ' +player.name}}</a>
                    <p>
                </div>
        </div>
        <div class="column">
            <button class="button is-large" @click="onShowPickup">出阵</button>
            <button class="button is-large" @click="onStartGame()">开始</button>
            <p>
                <button class="button is-large" @click="onToggleTimer()">Toggle</button>
                <button class="button is-large" @click="onResetTimer()">Reset</button>
                <p>
                    <hr>
                    <div class="control">
                        <label class="label">Bracket场次</label>
                        <input class="input" type="text" v-model='bracketIdx' style="width:50px" />
                        <button class="button " @click="onCommitGame()">单场结算</button>
                    </div>
                    <p class="control">
                        <label class="label">蓝队比分-红队比分</label>
                        <input class="input" type="text" v-model='bracketInfo' style="width:150px" />
                    </p>
                    <button class="button is-large" @click="onCommitTeam()">战团结算</button>
                    <hr>
                    <button class="button is-large" @click="onReloadDB()">reload db</button>


        </div>
    </div>
</div>