<div class="container">
    <div class="tabs  is-boxed">
        <ul>
            <li v-bind:class="{ 'is-active': actTab== 'tab1'}" @click='tab("tab1")'>
                <a>
                    <span>home</span>
                </a>
            </li>
            <li v-bind:class="{ 'is-active': actTab== 'tab2'}" @click='tab("tab2")'>
                <a>
                    <span>热门球员编辑</span>
                </a>
            </li>
            <li v-bind:class="{ 'is-active': actTab== 'tab3'}" @click='tab("tab3")'>
                <a>
                    <span>自定义比赛</span>
                </a>
            </li>
            <li v-bind:class="{ 'is-active': actTab== 'tab5'}" @click='tab("tab5")'>
                <a>
                    <span>国际邀请赛</span>
                </a>
            </li>
            <li v-bind:class="{ 'is-active': actTab== 'tab6'}" @click='tab("tab6")'>
                <a>
                    <span>冠军排位赛</span>
                </a>
            </li>
        </ul>
    </div>
    <div v-if='actTab=="tab1"'>
        <nav class="panel">
            <p class="panel-heading">
                直播面板op入口 Game ID: {{ selected }}
                <span class="select">
                            <select v-model="selected">
                                <option v-for="option in options" v-bind:value="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                        </span>
            </p>
            <div v-for="link in links">
                <a class="panel-block" :href="link.url" target="_blank">
                    <span class="panel-icon">
                        <i class="fa fa-book"></i>
                        </span> {{link.url}}
                    <br> {{link.title}}
                </a>
                <!--<button class="button">复制地址</button>-->
            </div>
            <!-- <div>
                抽奖id（编号）:<input type="text" v-model="lotteryId" style="width: 60px"> 次序k:
                <input type="text" v-model="lotteryIdx" style="width: 60px">
                <a v-if='lotteryId&&lotteryIdx' class="panel-block" :href="'/panel/#/ol/ob/0?panel=cj&id='+lotteryId+'&k='+lotteryIdx" target="_blank">
                           {{'/panel/#/ol/ob/0?panel=cj&id='+lotteryId+'&k='+lotteryIdx}}
                        </a>
            </div> -->

            <p>
                command:
                <br> /game/bracket/clear
                <br>/game/clear/bracketIdx
                <br>/git/pull
        </nav>
        播放地址:<input type="text" v-model="playUrl" style="width: 1000px">
        <p>
            推流地址:<input type="text" v-model="rmtpUrl" style="width: 1000px">
            <p>
                播放地址2:<input type="text" v-model="playUrl2" style="width: 1000px">
                <p>
                    推流地址2:<input type="text" v-model="rmtpUrl2" style="width: 1000px">
                    <!-- <p>
                        <button class="button is-primary" @click="onClkQRCode">生成IOS二维码</button> {{iosParam | json}}
                        <div id="qrcode"></div> -->
    </div>

    <div v-if='actTab=="tab2"' class="ctn2" style="display: inline-flex;">
        <div class="panel" style="width: 500px;">
            <p class="panel-heading">
                亮了网后台数据导入8090
            </p>
            球员编号player_id
            <input type="text" v-model="player_id" style="width: 100px;">
            <button class="button is-primary" @click="onViewPlayer(player_id)">查看亮了网球员</button>
            <button class="button is-primary" @click="onSyncPlayerToStrapi(player_id)">导入亮了网球员</button>
            <button class="button is-primary" @click="onPullPlayerData(player_id)">编辑8090球员</button>
            <!-- <input type="text" v-model="playerArrStr" style="width: 150px;">
            <button class="button is-primary" @click="onSetStarPlayer(playerArrStr)">设定热门球员</button> -->
            <div v-if='playerInEdit'>
                <div class="container" style="height: 700px">
                    <h1>上传热门球员图片</h1>
                    <button class="button is-primary" @click="onUpload">打开本地图片</button>
                    <button class="button is-primary" @click="onCrop(player_id)">裁切上传</button>
                    <input type="file" class="sr-only" id="input" name="image" @change='onImgLoaded' accept="image/*" hidden>
                    <div class='result'></div>
                    <img id="imgToDownload" style="max-width: 100%;">
                </div>
            </div>
        </div>
        <div class="panel" style="width:250px;">
            <p class="panel-heading">
                预览
            </p>
            <div v-if='playerInEdit'>
                <label style="font-size: 30px;">{{ playerInEdit.player_id+playerInEdit.live_name}}</label>
                <div class="preview" style="width: 100px;"></div>
                <textarea v-model="playerInEdit.brief" name="" id="" width="350" height="150"></textarea>
                <input type="text" v-model="playerInEdit.tag1" style="width: 100px;">
                <input type="text" v-model="playerInEdit.tag2" style="width: 100px;">
                <br> level:
                <input type="text" v-model="playerInEdit.level" style="width: 50px;">1-6 S+ S A+ A B C
                <br> <button class="button is-primary" @click="onEditPlayer(player_id)">更新</button>
            </div>
        </div>
    </div>
    <div v-if='actTab=="tab3"' class="ctn2" style="display: inline-flex;">
        <GameAdmin/>
    </div>
    <div v-if='actTab=="tab4"' class="ctn2" style="display: inline-flex;">
        <Pick/>
    </div>
    <div v-if='actTab=="tab5"' class="ctn2" style="display: inline-flex;">
        <WorldWar/>
    </div>
    <div v-if='actTab=="tab6"' class="ctn2" style="display: inline-flex;">
        <ScoreRankAdmin/>
    </div>
</div>