<div class="container">
    <input type="file" id="files" accept="*.json" hidden>
    <input type="text" v-model="vsPlayer" style="width: 100px;"> gameTitle idx<input type="text" v-model="gameTitle" style="width: 100px;">
    <button class="button is-primary" @click="onInitGame">初始比赛</button>
    <br>
    <br>
    <button class="button is-primary" @click="onFile">打开配置</button>
    <button class="button is-primary" id="reloadFile" @click="reloadFile">reload</button>
    <br>

    <div>
        <ul style="width:400px;overflow:hidden;zoom:1;border:1px solid #ccc">
            <li style="float:left;width:190px;padding:5px" v-for="player in blueArr">
                <button class="button is-primary" @click="onChangePlayer(true,player.playerId)">{{player.name}}</button>
            </li>
        </ul>
        <hr>
        <ul style="width:400px;overflow:hidden;zoom:1;border:1px solid #ccc">
            <li style="float:left;width:190px;padding:5px" v-for="player in redArr">
                <button class="button is-primary" @click="onChangePlayer(false,player.playerId)">{{player.name}}</button>
            </li>
        </ul>

    </div>
</div>