<div class="container">
    <span class="select">
                <select v-model="selected" @change="onSelectGame">
                    <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </span>
    <input type="file" id="files" accept="*.json" hidden>
    <input type="text" v-model="vsPlayer" style="width: 100px;">
    <button class="button is-primary" @click="onInitGame">初始比赛</button>
    <br>
    <br>
    <button class="button is-primary" @click="onFile">打开配置</button>
    <button class="button is-primary" id="reloadFile" @click="reloadFile">reload</button>
    <button class="button is-primary" @click="onShowPage(0,6)">page 1</button>
    <button class="button is-primary" @click="onShowPage(6,6)">page 2</button>
    <button class="button is-primary" @click="onShowPage(12,4)">page 3</button>
    <br>
    <br>
    <div style="width: 1400px">
        <button class="button is-primary" @click="onShowTag('1_1',true,true)">小钢炮</button>
        <button class="button is-primary" @click="onShowTag('1_2',true,true)">脚踝终结者</button>
        <button class="button is-primary" @click="onShowTag('2_1',true,true)">碾压坦克</button>
        <button class="button is-primary" @click="onShowTag('2_2',true,true)">大心脏</button>
        <button class="button is-primary" @click="onShowTag('3_1',true,true)">三分雨</button>
        <button class="button is-primary" @click="onShowTag('4_1',true,true)">万花筒</button>
        <button class="button is-primary" @click="onShowTag('2_2',false)">隐藏</button> ------------
        <button class="button is-primary" @click="onShowTag('1_1',true,false)">小钢炮</button>
        <button class="button is-primary" @click="onShowTag('1_2',true,false)">脚踝终结者</button>
        <button class="button is-primary" @click="onShowTag('2_1',true,false)">碾压坦克</button>
        <button class="button is-primary" @click="onShowTag('2_2',true,false)">大心脏</button>
        <button class="button is-primary" @click="onShowTag('3_1',true,false)">三分雨</button>
        <button class="button is-primary" @click="onShowTag('4_1',true,false)">万花筒</button>
        <button class="button is-primary" @click="onShowTag('2_2',false)">隐藏</button>
    </div>

</div>