<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RKB 路人王 ver {{time }} </title>
    <style>
        body {
            background-color: #FaFaFa;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/jsoneditor.min.css" />

</head>

<body>
    <div id="app">
        <router-view name="Navbar" :active="active"></router-view>
        <div style="position:relative;top:60px;">
            <router-view name="content"></router-view>
        </div>
    </div>
    <script>
        var opUrlArr = '<%= opUrlArr %>'.split(',')
    </script>
    <script src="/js/jsoneditor-minimalist.min.js"></script>
    <script src="/view/admin.js"></script>
</body>
</html>