<div>
    <div v-if="isOp" id="opPanel" style="position: absolute;left: 100px;top:60px;width: 1000px">
        <div class="tabs  is-boxed">
            <ul>
                <li v-bind:class="{ 'is-active': actTab== 'tab1'}" @click='tab("tab1")'>
                    <a>
                        <span>Main</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active': actTab== 'tab2'}" @click='tab("tab2")'>
                    <a>
                        <span>特效</span>
                    </a>
                </li>
            </ul>
        </div>
        <div v-if='actTab=="tab1"'>
            <h2>game id:{{gameId}} 当前延时:{{delayTimeShowOnly||0}}秒
                <br>timeDiff:{{timeDiff}}
            </h2>
            <label class="label">设置延时时间(秒)</label>
            <p class="control">
                <input class="input" type="text" onkeypress='var c = event.charCode;
                   return c >= 48 && c <= 57 ||c==46' placeholder="" style="width: 50px;" v-model="delayTime">
                <button class="button" @click="onClkSetDelay">确定</button>
            </p>

            <label class="label">现场时间:{{liveTime}}</label>
            <label class="label">面板时间:{{panelTime}}</label>

            <label class="label">自动开题延时(秒){{clientDelayTimeSrv}}</label>
            <p class="control">
                <input class="input" type="text" onkeypress='var c = event.charCode;
                   return c >= 48 && c <= 57 ||c==46' placeholder="" style="width: 50px;" v-model="clientDelayTime">
                <button class="button" @click="onSetClientDelay(clientDelayTime)">确定</button>
            </p>

            <!--<button class="button" @click="onClkRenderData">刷新现场数据到面板</button><br>-->
            <label class="label" style="font-size: 50px;">{{lLiveName}}  vs {{rLiveName}}<br>蓝:{{lLiveScore}} foul:{{lLiveFoul}} 红: {{rLiveScore}} foul:{{rLiveFoul}}</label>
            <!-- <label class="label">实力榜:</label><br>
            <input class="input" type="text" style="width: 110px;" v-model="inputDate">
            <button class="button" @click="onShowRanking(true,true,1)">显示总榜1</button>
            <button class="button" @click="onShowRanking(true,true,4)">显示总榜4</button>
            <button class="button" @click="onShowRanking(true,true,5)">显示总榜5</button>
            <button class="button" @click="onShowRanking(false)">隐藏</button> -->
            <label class="label">比分面板:</label><br>
            <button class="button" @click="onClkStartTimer">开始</button>
            <button class="button" @click="onClkPauseTimer">暂停</button>
            <button class="button" @click="onClkResetTimer">重置</button>
            <button class="button" @click="onClkShowScore(true)">显示</button>
            <button class="button" @click="onClkShowScore(false)">隐藏</button>
            <p class="control">
                <input class="input" type="text" onkeypress='var c = event.charCode;
                   return c >= 48 && c <= 57 ||c==46' placeholder="" style="width: 50px;" v-model="panelTime2Set">
                <button class="button" @click="onClkSetPanelTime(panelTime2Set)">确定</button>
            </p>

            <label class="label">  小组面板:</label><br>
            <button class="button" @click="onClkGroup(true,-1)">显示</button>
            <button class="button" @click="onClkGroup(true,1)">A</button>
            <button class="button" @click="onClkGroup(true,2)">B</button>
            <button class="button" @click="onClkGroup(true,3)">C</button>
            <button class="button" @click="onClkGroup(true,4)">D</button>
            <button class="button" @click="onClkGroup(true,5)">E</button>
            <button class="button" @click="onClkGroup(true,6)">F</button>
            <button class="button" @click="onClkGroup(true,7)">G</button>
            <button class="button" @click="onClkGroup(true,8)">H</button>
            <button class="button" @click="onClkGroup(false,-1)">隐藏</button>

            <label class="label">  对局Title:</label><br>
            <input class="input" type="text" placeholder="cuba校队 街头霸王 空格隔开" style="width: 250px;" v-model="vsTitle">
            <button class="button" @click="onClkVsTitle(true,vsTitle)">显示</button>
            <button class="button" @click="onClkVsTitle(false,vsTitle)">隐藏</button>

            <label class="label">  夺冠热门:</label><br>
            <input class="input" type="text" placeholder="1 3 4 6 10空格隔开比赛出场场次" style="width: 250px;" v-model="gameIdxArr">
            <button class="button" @click="onClkTop5(true,1,gameIdxArr)">p1</button>
            <button class="button" @click="onClkTop5(true,2,gameIdxArr)">p2</button>
            <button class="button" @click="onClkTop5(true,3,gameIdxArr)">p3</button>
            <button class="button" @click="onClkTop5(true,4,gameIdxArr)">p4</button>
            <button class="button" @click="onClkTop5(true,5,gameIdxArr)">p5</button>
            <button class="button" @click="onClkTop5(false,1)">隐藏</button>
            <br>
            <label class="label">  冠军面板:</label><br>
            <input class="input" type="text" placeholder="2017上海站第二轮冠军" style="width: 250px;" v-model="championTitle">
            <button class="button" @click="onClkLeftChampion">{{lLiveName}} 冠军</button>
            <button class="button" @click="onClkRightChampion">{{rLiveName}} 冠军</button>
            <button class="button" @click="onClkToggleChampionPanel(true)">显示</button>
            <button class="button" @click="onClkToggleChampionPanel(false)">隐藏</button>
            <br>

            <div style="left: 600px;top:0px;position: absolute;">
                <label class="radio">
                <input type="radio" name="bold" value='normal' v-model='isBold' checked >
                正常
            </label>
                <label class="radio">
                <input type="radio" name="bold" value='bold' v-model='isBold'>
                加粗
            </label>
                <br>
                <input class="input" type="text" placeholder="公告" style="width: 280px;" v-model="noticeTitle">
                <textarea style="width:580px;height:250px" v-model="noticeContent"></textarea>
                <button class="button" @click="onClkNotice(true,true,true)">左边预览</button>
                <button class="button" @click="onClkNotice(true,false,true)">右边预览</button>
                <br>
                <button class="button" @click="onClkNotice(true,true)">左边显示</button>
                <button class="button" @click="onClkNotice(true,false)">右边显示</button>
                <button class="button" @click="onClkNotice(false,false)">隐藏</button>
                <br>
                <div v-for="(n,idx) in noticeHistory">
                    <a @click="onClkNoticePresets(n.title,n.content)" style="font-size:35px;">[{{n.title||'公告'}}] :{{n.content.substring(0,10)}}</a>
                    <a @click="onDelNoticePresets(n.content)">del</a>
                </div>
            </div>
        </div>
        <div v-if='actTab=="tab2"'>
            <label class="label">   fx test：</label> <br>
            <button class="button" @click="onPlayScoreFx()">score fx</button>
        </div>
    </div>
</div>