<div class="container">
    <a href="/panel/#/com">计分板面板地址</a>
    <table class="table is-striped is-bordered" style="font-size:30px;">
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>
                    <div hidden>{{updateTime}}</div>
                </th>
                <th>
                    <a id="vudp" @click="onVueUpdate"></a>
                </th>
                <th>蓝方球员</th>
                <th> </th>
                <th>红方球员</th>
                <th>
                </th>
            </tr>
            <tr>
                <th style="font-size:25px;">
                    比分
                    <a @click="onResetScore"> 重置</a>
                </th>
                <th>
                    <button class="button" @click="onSetScore(true,1)">+1</button>
                    <button class="button" @click="onSetScore(true,-1)">-1</button>
                </th>
                <th>
                    {{baseGame.lName}}
                </th>
                <th style="font-size:40px;">
                    <span id="lScore">{{baseGame.lScore}}</span> - <span id="rScore">{{baseGame.rScore}}</span>
                </th>
                <th>
                    {{baseGame.rName}}
                </th>
                <th>
                    <button class="button" @click="onSetScore(false,1)">+1</button>
                    <button class="button" @click="onSetScore(false,-1)">-1</button>
                </th>
            </tr>
            <tr>
                <th style="font-size:25px;">犯规
                    <a @click="onResetFoul"> 重置</a>
                </th>
                <th>
                    <button class="button" @click="onSetFoul(true,1)">+1</button>
                    <button class="button" @click="onSetFoul(true,-1)">-1</button>
                </th>
                <th>
                    -
                </th>
                <th>
                    <span id="lFoul">{{baseGame.lFoul}}</span> - <span id="rFoul">{{baseGame.rFoul}}</span>
                </th>
                <th>
                    -
                </th>
                <th>
                    <button class="button" @click="onSetFoul(false,1)">+1</button>
                    <button class="button" @click="onSetFoul(false,-1)">-1</button>
                </th>
            </tr>
        </tbody>
    </table>
    <div style="font-size:30px;">
        比赛时间设置:<input class="input" @keyup.enter="onSetTimerEvent('setting',timeInSec)" v-model="timeInSec" type="text" style="width: 100px;">
        <!-- <a @click="onSetTimerEvent('start')">开始  </a>
        <a @click="onSetTimerEvent('pause')">暂停  </a> -->
        <a @click="onSetTimerEvent('setting',timeInSec)">设置</a>
        <a @click="onSetTimerEvent('setting','20-0')">reset</a> 分钟-秒数 时间格式"7-0"，大于60秒不要加".""
        <hr> 进攻时间设置:
        <input class="input" v-model="buzzerTimeInSec" @keyup.enter="onSetBuzzer(buzzerTimeInSec)" type="text" style="width: 100px;">
        <a @click="onSetBuzzer(buzzerTimeInSec)">设置</a>
        <a @click="onSyncBuzzer()">同步进攻时间</a>
        <a @click="resetBuzzer">reset</a>
        <input id="buzzer" maxlength="1" class="input" type="text" style="width: 60px;"> q 复位并暂停/开始 进攻时间 r复位进攻时间 空格暂停/开始比赛时间和进攻时间
    </div>
</div>