<div class="container">
    <a href="/panel/#/lowerthird">面板地址</a>
    <hr>
    <button class="button is-primary" @click="onShowLowerThird({},false)">隐藏</button>
    <button class="button is-primary" @click="onUpdatePlayerMap()">更新球员名单</button>
    <div style="width:680px">
        <button style="margin:5px;" v-if="btn.type==1" v-for="(btn,index) in conf" :key="index" class="button is-primary" @click="onShowLowerThird(btn,true)">{{btn.button}} </button>
        <br>
        <button style="margin:5px;" v-if="btn.type==2" v-for="(btn,index) in conf" :key="index" class="button is-primary" @click="onShowLowerThird(btn,true)">{{btn.button}} </button>
    </div>
    <hr>
    <button class="button is-primary" @click="onShowWW3PlayerInfo({},true)">显示比分面板球员信息</button>
    <button class="button is-primary" @click="onShowWW3PlayerInfo({},false)">隐藏</button>
    <br>
    <br>
    <!-- <button class="button is-primary" @click="onShowPick(false)">hide选人</button>
    <button class="button is-primary" @click="onShowPick(true)">emit选人</button> -->
    <!-- <div style="display: inline-flex">
        队长：
        <ul style="width:200px;overflow:hidden;zoom:1;border:1px solid #ccc">
            <input class="input" type="text" v-model="team1_1" style="width: 180px;">
            <input class="input" type="text" v-model="team1_2" style="width: 180px;">
            <input class="input" type="text" v-model="team1_3" style="width: 180px;">
            <input class="input" type="text" v-model="team1_4" style="width: 180px;">
        </ul>
        <ul style="width:200px;overflow:hidden;zoom:1;border:1px solid #ccc">
            <input class="input" type="text" v-model="team2_1" style="width: 180px;">
            <input class="input" type="text" v-model="team2_2" style="width: 180px;">
            <input class="input" type="text" v-model="team2_3" style="width: 180px;">
            <input class="input" type="text" v-model="team2_4" style="width: 180px;">
        </ul>
        <ul style="width:200px;overflow:hidden;zoom:1;border:1px solid #ccc">
            <input class="input" type="text" v-model="team3_1" style="width: 180px;">
            <input class="input" type="text" v-model="team3_2" style="width: 180px;">
            <input class="input" type="text" v-model="team3_3" style="width: 180px;">
            <input class="input" type="text" v-model="team3_4" style="width: 180px;">
        </ul>
    </div> -->
    <!-- <br>
    <br> -->
    <!-- <button class="button is-primary" @click="onSetColor()">emit 颜色</button> -->
    <!-- <div class="select">
        <select v-model="colorArr[0]">
          <option>红</option>
          <option>白</option>
          <option>绿</option>
        </select>
    </div>
    <div class="select">
        <select v-model="colorArr[1]">
          <option>红</option>
          <option>白</option>
          <option>绿</option>
        </select>
    </div>
    <div class="select">
        <select v-model="colorArr[2]">
          <option>红</option>
          <option>白</option>
          <option>绿</option>
        </select>
    </div> -->
</div>