<div class="container">
    <a href="/panel/#/lowerthird">面板地址</a>
    <hr>
    <button class="button is-primary" @click="onShowLowerThird({},false)">隐藏人名条</button>
    <!-- <button class="button is-primary" @click="onUpdatePlayerMap()">更新球员名单</button> -->
    <div style="">
        MC双人人名条：
        <button style="margin:5px;" v-if="btn.type==1" v-for="(btn,index) in conf" :key="index" class="button is-primary" @click="onShowLowerThird(btn,true)">{{btn.button}} </button>
        <br> 单人人名条：
        <button style="margin:5px;" v-if="btn.type==2" v-for="(btn,index) in conf" :key="index" class="button is-primary" @click="onShowLowerThird(btn,true)">{{btn.button}} </button>
        <br> 球员：
        <table class="table is-striped is-bordered" style="font-size:20px;">
            <thead>
                <tr>
                    <th>#1</th>
                    <th>#2</th>
                    <th>#3</th>
                    <th>#4</th>
                    <th>#5</th>
                    <th>#6</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th v-if='index<6' v-for="(btn,index) in confType2_playerMap" :key="btn">
                        <a @click="onSetPlayer(btn,true)">{{btn.player.name}}- {{btn.player.player_id}}</a>
                    </th>
                </tr>
                <tr>
                    <th v-if='index<12&&6<=index' v-for="(btn,index) in confType2_playerMap" :key="btn">
                        <a @click="onSetPlayer(btn,true)">{{btn.player.name}}- {{btn.player.player_id}}</a>
                    </th>
                </tr>
                <tr>
                    <th v-if='index<18&&12<=index' v-for="(btn,index) in confType2_playerMap" :key="btn">
                        <a @click="onSetPlayer(btn,true)">{{btn.player.name}}- {{btn.player.player_id}}</a>
                    </th>
                </tr>
                <tr>
                    <th v-if='index<24&&18<=index' v-for="(btn,index) in confType2_playerMap" :key="btn">
                        <a @click="onSetPlayer(btn,true)">{{btn.player.name}}- {{btn.player.player_id}}</a>
                    </th>
                </tr>
                <tr>
                    <th v-if='index<30&&24<=index' v-for="(btn,index) in confType2_playerMap" :key="btn">
                        <a @click="onSetPlayer(btn,true)">{{btn.player.name}}- {{btn.player.player_id}}</a>
                    </th>
                </tr>
            </tbody>

        </table>
        <br>选中球员： {{selected_player.player.name|'-'}}
        <br>
        <button class="button is-primary" @click="onShowSelectedPlayerType(2)">只显示球员名字</button>
        <button class="button is-primary" @click="onShowSelectedPlayerType(4)">只显示球员简介</button>
        <br>
        <br><input type="text" v-model="lowerthirdText" style="width: 200px;">
        <button class="button is-primary" @click="onShowLowerThirdCustom(lowerthirdText,2)">自定义人名条内容（12个汉字最多）</button>
    </div>
    <br>
    <br>

    <div style="width:680px">
        球员简介，环节简介：(图标 标题 内容)
        <button style="margin:5px;" v-for="(btn,index) in confType4" :key="index" class="button is-primary" @click="onShowLowerThird(btn,true)">{{btn.button}} </button>
    </div>
    <hr>
    <!-- <button class="button is-primary" @click="onShowWW3PlayerInfo({},true)">显示比分面板球员信息</button>
    <button class="button is-primary" @click="onShowWW3PlayerInfo({},false)">隐藏</button> -->
    <br>
    <br>
    <button class="button is-primary" @click="onShowLeftImage(true)">显示二维码</button>
    <button class="button is-primary" @click="onShowLeftImage(false)">隐藏</button>

    <!-- <button class="button is-primary" @click="onShowPick(false)">hide选人</button>
    <button class="button is-primary" @click="onShowPick(true)">emit选人</button> -->
    <!-- <div style="display: inline-flex">
        队长：
        <ul style="width:200px;overflow:hidden;zoom:1;border:1px solid #ccc">
            <input class="input" type="text" v-model="team1_1" style="width: 180px;">
            <input class="input" type="text" v-model="team1_2" style="width: 180px;">
            <input class="input" type="text" v-model="team1_3" style="width: 180px;">
            <input class="input" type="text" v-model="team1_4" style="width: 180px;">
        </ul>
        <ul style="width:200px;overflow:hidden;zoom:1;border:1px solid #ccc">
            <input class="input" type="text" v-model="team2_1" style="width: 180px;">
            <input class="input" type="text" v-model="team2_2" style="width: 180px;">
            <input class="input" type="text" v-model="team2_3" style="width: 180px;">
            <input class="input" type="text" v-model="team2_4" style="width: 180px;">
        </ul>
        <ul style="width:200px;overflow:hidden;zoom:1;border:1px solid #ccc">
            <input class="input" type="text" v-model="team3_1" style="width: 180px;">
            <input class="input" type="text" v-model="team3_2" style="width: 180px;">
            <input class="input" type="text" v-model="team3_3" style="width: 180px;">
            <input class="input" type="text" v-model="team3_4" style="width: 180px;">
        </ul>
    </div> -->
    <!-- <br>
    <br> -->
    <!-- <button class="button is-primary" @click="onSetColor()">emit 颜色</button> -->
    <!-- <div class="select">
        <select v-model="colorArr[0]">
          <option>红</option>
          <option>白</option>
          <option>绿</option>
        </select>
    </div>
    <div class="select">
        <select v-model="colorArr[1]">
          <option>红</option>
          <option>白</option>
          <option>绿</option>
        </select>
    </div>
    <div class="select">
        <select v-model="colorArr[2]">
          <option>红</option>
          <option>白</option>
          <option>绿</option>
        </select>
    </div> -->
</div>