<html>

<head>
    <style>
        .bg {
            position: static;
            padding: 10px;
        }
        
        .player {
            position: absolute;
            padding: 0px;
            font-size: 40px;
            color: #fff;
            font-family: "微软雅黑"
        }
        
        .blue {
            color: #003da7;
        }
    </style>


    <link type="text/css" rel="stylesheet" href="/css/bulma.min.css">

    <script src="/js/vue.js"></script>
    <script src="/js/jquery3.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="container" style="height: 700px">
            [game3v3]
            <div>
                红队：
                <input v-model="lScoreInput" class="input" type="text" style="width: 80px;"> 蓝队：
                <input v-model="rScoreInput" class="input" type="text" style="width: 80px;">
                <button class="button" @click="onSetScore(lScoreInput,rScoreInput)">设置比分</button>
                <br>红队：
                <input v-model="lFoulInput" class="input" type="text" style="width: 80px;"> 蓝队：
                <input v-model="rFoulInput" class="input" type="text" style="width: 80px;">
                <button class="button" @click="onSetFoul(lFoulInput,rFoulInput)">设置犯规</button>
                <br> 时间：秒 分-秒
                <input v-model="timerInput" class="input" type="text" style="width: 80px;">
                <button class="button" @click="onSetTimer('start',scoreInput)">开始</button>
                <button class="button" @click="onSetTimer('pause',scoreInput)">暂停</button>
                <button class="button" @click="onSetTimer('setting',timerInput)">设置</button>
                <button class="button" @click="onSetTimer('reset',scoreInput)">reset</button> 1v1 3min 4v4 15min
                <br>
                <br>
                <input v-model="playerInput" class="input" type="text" style="width: 180px;"> vs
                <input v-model="playerInput2" class="input" type="text" style="width: 180px;">
                <button class="button" @click="onSetPlayer(playerInput,playerInput2)">设置对阵</button>
                <button class="button" @click="onSet4v4(true)">设置4v4 icon</button>
                <button class="button" @click="onSet4v4(false)">设置1v1 icon</button>
            </div>
            <br>
            <button class="button" @click="onGroup4v4(game4v4rec)">更新小组数据</button>
            <button class="button" @click="onCalcRank(game4v4rec)">更新小组排名</button>
            <table class="table is-striped is-bordered" style="font-size:20px;">
                <thead>
                    <tr>
                        <th>#1</th>
                        <th>胜场</th>
                        <th>负场</th>
                        <th>净胜</th>
                        <th>总得分</th>
                        <th>rank</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(team,index) in game4v4rec" :key="team.name">
                        <th>
                            {{team.name}}
                        </th>
                        <th>
                            <input v-model="team.win" class="input" type="text" style="width: 80px;">
                        </th>
                        <th>
                            <input v-model="team.lose" class="input" type="text" style="width: 80px;">
                        </th>
                        <th>
                            <input v-model="team.score" class="input" type="text" style="width: 80px;">
                        </th>
                        <th>
                            <input v-model="team.total_score" class="input" type="text" style="width: 80px;">
                        </th>
                        <th>
                            <input v-model="team.rank" class="input" type="text" style="width: 80px;">
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        let opReq = (cmdId, param) => {
            param._ = null
            $.ajax({
                url: `/panel/online/${cmdId}`,
                type: 'post',
                data: JSON.stringify(param),
                headers: {
                    "Content-Type": "application/json"
                },
                dataType: 'json'
            });
        }
        var app = new Vue({
            el: '#app',
            data: {
                scoreInput: '',
                lScoreInput: '',
                rScoreInput: '',
                lFoulInput: '',
                rFoulInput: '',
                timerInput: '',
                playerInput: '',
                playerInput2: '',
                game4v4rec: [],
                items: []
            },
            methods: {
                onSetPlayer: (playerInput, playerInput2) => {
                    opReq('cs_setTeam', {
                        lPlayer: playerInput,
                        rPlayer: playerInput2
                    })
                    console.log('playerInput ', playerInput, playerInput2)
                },
                onSetFoul: (lFoul, rFoul) => {
                    opReq('cs_updateFoul', {
                        lFoul: Number(lFoul),
                        rFoul: Number(rFoul)
                    })
                },
                onSetScore: (scoreInput, rScoreInput) => {
                    let a = scoreInput.split(' ')
                    if (a.length == 2) {
                        opReq('cs_updateScore', {
                            lScore: a[0],
                            rScore: a[1]
                        })
                        console.log('score input', scoreInput)
                    } else if (rScoreInput != '') {
                        opReq('cs_updateScore', {
                            lScore: scoreInput,
                            rScore: rScoreInput
                        })
                    }
                },
                onSet4v4: (is4V4) => {
                    opReq('cs_set_4v4_icon', {
                        is4v4: is4V4
                    })
                },
                onGroup4v4(game4v4rec) {
                    console.log('onGroup4v4', game4v4rec)
                    opReq('cs_game4v4rec', {
                        game4v4rec: game4v4rec
                    })
                },
                onCalcRank(game4v4rec) {
                    let a = game4v4rec.sort(
                        function(a, b) {
                            return Number(b['win']) - Number(a['win']);
                        }
                    )
                    let i = 1
                    for (let t of a) {
                        t.rank = i++
                    }
                    this.game4v4rec = a
                },
                onSetTimer: (event, scoreInput) => {
                    let sec
                    if (scoreInput.search('-') > -1) {
                        let a = scoreInput.split('-')
                        sec = Number(a[0]) * 60 + Number(a[1])
                    } else {
                        sec = Number(scoreInput)
                    }
                    // cs_timerEvent
                    opReq('cs_timerEvent', {
                        event: event,
                        param: sec
                    })
                }
            },
            created: function() {
                this.game4v4rec = []
                let nameArr = ["LexBurner队", "杰里德Jared队", "老番茄队", "逍遥散人队"]
                for (let i = 0; i < 4; i++) {
                    this.game4v4rec.push({
                        "name": nameArr[i],
                        "win": 0,
                        "lose": 0,
                        "score": 0,
                        "rank": -1,
                        "total_score": 0
                    })
                }
                // console.log(this);
                // let localWs = io.connect('/rkb')
                // localWs.on('connect', () => {
                //         console.log('connect', window.location.host)
                //     })
                //     .on('sc_data', (data) => {

                //     })
            }
        })
    </script>
</body>