<table class="table is-striped is-bordered" style="font-size:30px;">
    <thead>
    </thead>
    <tbody>
        <tr>
            <th>
                <div hidden>{{updateTime}}</div>
                秒:<input class="input" v-model="timeInSec" type="text" style="width: 100px;">
                <a @click="onSetTimerEvent('setting',timeInSec)">设置</a>
                <a @click="onSetTimerEvent('reset')">reset</a>
            </th>
            <th>
                <a id="vudp" @click="onVueUpdate"></a>
                <button class="button" @click="onSetTeamScore(true,1)">+1</button>
                <button class="button" @click="onSetTeamScore(true,-1)">-1</button>
            </th>
            <th>L player</th>
            <th>score</th>
            <th>R player</th>
            <th>
                <button class="button" @click="onSetTeamScore(false,1)">+1</button>
                <button class="button" @click="onSetTeamScore(false,-1)">-1</button>
                <button class="button" @click="onResetGame()">resetGame</button>

            </th>
        </tr>
        <tr>
            <th style="font-size:25px;">
                <a @click="onSetTimerEvent('start')">开始  </a><a @click="onSetTimerEvent('pause')">暂停  </a>
            </th>
            <th>
                <button class="button" @click="onSetScore(true,1)">+1</button>
                <button class="button" @click="onSetScore(true,-1)">-1</button>
            </th>
            <th>
                {{baseGame.lName}}
            </th>
            <th style="font-size:40px;">
                <span id="lScore">{{baseGame.lScore}}</span> - <span id="rScore">{{baseGame.rScore}}</span>
            </th>
            <th>
                {{baseGame.rName}}
            </th>
            <th>
                <button class="button" @click="onSetScore(false,1)">+1</button>
                <button class="button" @click="onSetScore(false,-1)">-1</button>
            </th>
        </tr>
        <tr>
            <th style="font-size:25px;">foul
                <a @click="onResetFoul"> 重置</a>
            </th>
            <th>
                <button class="button" @click="onSetFoul(true,1)">+1</button>
                <button class="button" @click="onSetFoul(true,-1)">-1</button>
            </th>
            <th>
                -
            </th>
            <th>
                <span id="lFoul">{{baseGame.lFoul}}</span> - <span id="rFoul">{{baseGame.rFoul}}</span>
            </th>
            <th>
                -
            </th>
            <th>
                <button class="button" @click="onSetFoul(false,1)">+1</button>
                <button class="button" @click="onSetFoul(false,-1)">-1</button>
            </th>
        </tr>
    </tbody>
</table>