<table class="table is-striped is-bordered" style="font-size:30px;">
    <thead>
        <!-- <tr>
            <th>
                <div hidden>{{updateTime}}</div>

            </th>
            <th>
                <a id="vudp" @click="onVueUpdate"></a>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th>
            </th>
        </tr> -->
    </thead>
    <tbody>
        <tr>
            <th>
                <div hidden>{{updateTime}}</div>
                time in sec:<input class="input" v-model="timeInSec" type="text" style="width: 100px;">
            </th>
            <th>
                <a id="vudp" @click="onVueUpdate"></a>
            </th>
            <th>L player</th>
            <th>score</th>
            <th>R player</th>
            <th>
            </th>
        </tr>
        <tr>
            <th>

                <a @click="onSetTimerEvent('start')">开始  </a><a @click="onSetTimerEvent('pause')">暂停  </a>
                <a @click="onSetTimerEvent('setting',timeInSec)">设置</a>

            </th>
            <th>
                <button class="button" @click="onSetScore(true,1)">+1</button>
                <button class="button" @click="onSetScore(true,-1)">-1</button>
            </th>
            <th>
                {{baseGame.lName}}
            </th>
            <th style="font-size:40px;">
                <span id="lScore">{{baseGame.lScore}}</span> - <span id="rScore">{{baseGame.rScore}}</span>
            </th>
            <th>
                {{baseGame.rName}}

            </th>
            <th>
                <button class="button" @click="onSetScore(false,1)">+1</button>
                <button class="button" @click="onSetScore(false,-1)">-1</button>
            </th>
        </tr>
        <tr>
            <th>foul</th>
            <th>
                <button class="button" @click="onSetFoul(true,1)">+1</button>
                <button class="button" @click="onSetFoul(true,-1)">-1</button>
            </th>
            <th>
                -
            </th>
            <th>
                <span id="lFoul">{{baseGame.lFoul}}</span> - <span id="rFoul">{{baseGame.rFoul}}</span>
            </th>
            <th>
                -
            </th>
            <th>
                <button class="button" @click="onSetFoul(false,1)">+1</button>
                <button class="button" @click="onSetFoul(false,-1)">-1</button>
            </th>
        </tr>
    </tbody>
</table>