<div class="container">

    <input type="file" id="file" accept="*.xlsx" hidden>
    <br>
    <button class="button is-primary" @click="onFile">打开本地配置</button>
    <button class="button is-primary" id="reload" @click="onReload">reload</button>
    <br>

    <div class="control">
        vs player <input class="input" v-model="vsPlayer" type="text" style="width: 100px;">
        <button class="button is-primary" @click="onEmitGameInfo">emit game info</button>
        <button class="button is-primary" @click="onAddGame">创建比赛</button>
        <button class="button is-primary" @click="onCommitGame(gameIdx)">提交比赛</button> teamVsIdx:
        <input class="input" v-model="teamVsIdx" type="text" style="width: 60px;">
        <a class="button is-warnning" @click="onSetBlood(teamVsIdx)">设置初始血量</a>
        <label class="checkbox">
            <input type="checkbox" v-model="isShowCurTeamVsOnly">
            只显示当前
          </label>
        <hr>

    </div>

    <!-- Main container -->
    <div class="level">
        <!-- Left side -->
        <div class="level-left">
            <div class="columns">
                <div class="column" v-for="(item,index) in blueArr" :key="item">
                    <a class="button is-info" @click="pickPlayer(true,item.playerId)">{{item.name}} [{{item.blood}}]</a>
                    <br>
                    <input class="input blood" :id="'blood'+item.playerId" type="text" style="width: 50px;">
                </div>
            </div>
        </div>

        <!-- Right side -->
        <div class="level-right">
            <div class="columns">
                <div class="column" v-for="(item,index) in redArr" :key="item">
                    <a class="button is-danger" @click="pickPlayer(false,item.playerId)">{{item.name}} [{{item.blood}}]</a>
                    <br>
                    <input class="input blood" :id="'blood'+item.playerId" type="text" style="width: 50px;">
                </div>
            </div>
        </div>
    </div>

    <div id='table' class="table"></div>
    <BaseGame/>
    <table class="table is-striped is-bordered">
        <thead>
            <tr>
                <th><abbr title="Position">#gameIdx</abbr></th>
                <th><abbr>#teamVsIdx</abbr></th>
                <th>L player</th>
                <th>score</th>
                <th>R player</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(rec,index) in recArr" :key="index" v-bind:class="[rec.gameIdx==gameView.gameIdx?'is-selected':'']">
                <th><a @click="setGameIdx(rec.gameIdx)">#####{{rec.gameIdx}}</a></th>
                <td> {{rec.teamVsIdx}} </td>
                <td> {{rec.name[0]}} </td>
                <td> {{rec.score[0]}} - {{rec.score[1]}} </td>
                <td> {{rec.name[1]}} </td>
                <td>
                    <div class="control" v-if="rec.gameIdx==gameView.gameIdx">
                        <input class="input" :id="'scoreInput'+rec.gameIdx" type="text" style="width: 80px;">
                        <button class="button" @click="onSetScore(rec.gameIdx)">修改(提交)比分</button>
                        <button class="button" @click="onSetVS(rec.gameIdx,vsPlayer)">修改对阵↑</button>
                        <button class="button" @click="onSetTeamVsIdx(rec.gameIdx)">修改TeamVsIdx</button>
                        <button class="button is-danger" @click="onDeleteGameRec(rec.gameIdx)">删除</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="level">
        <div class="level-left">
            <table class="table is-striped is-bordered">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>score</th>
                        <th>kill</th>
                        <th>death</th>
                        <th>assist</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in blueArr" :key="item">
                        <th>{{item.name}}</th>
                        <th>{{item.score}}</th>
                        <th>{{item.k}}</th>
                        <th>{{item.d}}</th>
                        <th>{{item.a}}</th>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="level-right">
            <table class="table is-striped is-bordered">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>score</th>
                        <th>kill</th>
                        <th>death</th>
                        <th>assist</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in redArr" :key="item">
                        <th>{{item.name}}</th>
                        <th>{{item.score}}</th>
                        <th>{{item.k}}</th>
                        <th>{{item.d}}</th>
                        <th>{{item.a}}</th>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <hr>
    <button class="button is-primary" @click="onDeleteDoc">delete doc</button> {{updateTime}}
</div>