<div class="container" v-if="!isOld">
    <div class="columns">
        <div class="column">
            game list
            <div>
                <li v-for="(r,idx) in recMap">
                    <a v-if='idx<24' href='#' @click='onSetGameIdx(idx)'>
                        [{{r.player[0]+':'+r.player[1]}}] {{r.gameIdx+1}}: {{gameInfo.h(r.player[0])}} [{{r.score[0]}}]vs [{{r.score[1]}}] {{gameInfo.h(r.player[1])}}
                    </a>
                    <a v-if='idx>23' href='#' @click='onSetGameIdx(idx)'>
                        [{{r.player[0]+':'+r.player[1]}}] {{r.gameIdx-23}}: {{gameInfo.h(r.player[0])}} [{{r.score[0]}}]vs [{{r.score[1]}}] {{gameInfo.h(r.player[1])}}
                    </a>
                    <div v-if='idx==23'>-----master-----</div>
                </li>
            </div>
        </div>

        <div class="column">
            <div v-if='gameInfo.gameIdx<24'>
                小组赛第{{gameInfo.gameIdx+1}}场
            </div>
            <div v-else>
                大师赛第{{gameInfo.gameIdx-23}}场
            </div>
            {{gameInfoStr}}
            <span></span><br> Score
            <br>
            <button class="button" @click="onAddScore(true,1)">+1</button>
            <button class="button" @click="onAddScore(true,-1)">-1</button> {{gameInfo.lScore}}
            <br> Foul
            <br>
            <button class="button" @click="onAddFoul(true,1)">+1</button>
            <button class="button" @click="onAddFoul(true,-1)">-1</button> {{gameInfo.lFoul}}
            <br>
            <button class="button" @click="onStartGame()">开始比赛</button>
            <button class="button" @click="onStartTimer(true)">开始计时</button>
            <button class="button" @click="onStartTimer(false)">暂停计时</button>
            <button class="button" @click="onCommitGame(true)">提交比赛</button>
            <br>
            <button class="button" @click="onProgress('a')">A组进度</button>
            <button class="button" @click="onProgress('b')">B组进度</button>
            <br>
            <button class="button" @click="onProgress('c')">C组进度</button>
            <button class="button" @click="onProgress('d')">D组进度</button>
            <br>
            <button class="button" @click="onHideProgress()">隐藏进度</button>
            <br>
            <span>加赛操作：左边选择对阵，开始比赛，提交加赛。修改对阵<br>大师赛确认对阵之后刷新本页面推送到面板</span>
            <button class="button" @click="onCommitGame(false)">提交加赛</button>
            <br>
            <button class="button" @click="onSetResult">修改比分</button>
            <br>
            <input v-model='vs' style="width:80px"></input>
            <button class="button" @click="onSetVS(vs)">修改对阵</button>
            <br>
            <button class="button" @click="onBracket">bracket</button>
            <br>
            <button class="button" @click="onClearGame(0)">清除比赛数据</button>
            <button class="button" @click="onClearGame(1)">清除大师赛数据</button>
            <button class="button" @click="onTestGame">testGame</button>
        </div>
        <div class="column">
            <br>
            <br>
            <br> {{gameInfo.rScore}}
            <button class="button" @click="onAddScore(false,1)">+1</button>
            <button class="button" @click="onAddScore(false,-1)">-1</button>
            <br>
            <br> {{gameInfo.rFoul}}
            <button class="button" @click="onAddFoul(false,1)">+1</button>
            <button class="button" @click="onAddFoul(false,-1)">-1</button>

        </div>

        <div class="column">
            <button class="button" @click="onProgress()">小组进度</button>
            <button class="button" @click="onSetMaster()">大师赛排名</button>
            <div>
                <li v-for="(p,idx) in playerRank">
                    [{{idx+1}}] {{p.name}} win {{p.win}} beat{{p.beat}} 净胜{{p.dtScore}}
                    <div v-if='idx==7'>----------</div>
                </li>
                <div>-----master-----</div>
                <li v-for="(p,idx) in masterBracket">
                    <button class="button" @click="onAddFoul(false,-1)">↑</button>
                    <button class="button" @click="onAddFoul(false,-1)">↓</button> [{{idx+1}}] {{p.name}} win {{p.win}} beat{{p.beat}} 净胜{{p.dtScore}}
                </li>
            </div>
        </div>
        <div class="column">
            校园赛
            <br>
            <input v-model='campusL' style="width:40px"></input>
            <input v-model='campusR' style="width:40px"></input>
            winScore
            <input v-model='campusWinScore' style="width:40px"></input>
            gameIdx<input v-model='campusGameIdx' style="width:40px"></input>
            <button class="button" @click="onStartCampus()">开始比赛</button>
            <li v-for="p in campusPlayer">
                {{p.id}}:{{p.name}}
            </li>
            <button class="button" @click="onCreateCampus(campusInput)">录入</button>
            <button class="button" @click="onCreateLiveData()">LiveData</button>
            <button class="button" @click="onLiveDataStart()">start</button>
            <button class="button" @click="onLiveDataPush()">push</button>
            <button class="button" @click="onLiveDataCommit()">commit</button>
            <button class="button" @click="onLiveDataFallback()">fallback</button>
            <button class="button" @click="onLiveDataDrop()">drop</button>
            <textarea v-model='campusInput' style="height:200px">
                
            </textarea>
        </div>
    </div>
</div>