<div class="container" v-if="!isOld">
    <div class="columns">
        <div class="column">
            game list
            <div>
                <li v-for="(r,idx) in recMap">
                    <a v-if='idx<24' href='#' @click='onSetGameIdx(idx)'>
                        {{r.gameIdx+1}}: {{r.player[0]}} [{{r.score[0]}}]vs [{{r.score[1]}}] {{r.player[1]}}
                    </a>
                    <a v-if='idx>23' href='#' @click='onSetGameIdx(idx)'>
                        {{r.gameIdx-23}}: {{r.player[0]}} [{{r.score[0]}}]vs [{{r.score[1]}}] {{r.player[1]}}
                    </a>
                    <div v-if='idx==23'>-----master-----</div>
                </li>
            </div>
        </div>

        <div class="column">
            <div v-if='gameInfo.gameIdx<24'>
                小组赛第{{gameInfo.gameIdx+1}}场
            </div>
            <div v-else>
                大师赛第{{gameInfo.gameIdx-23}}场
            </div>
            {{gameInfoStr}}
            <span></span><br> Score
            <br>
            <button class="button" @click="onAddScore(true,1)">+1</button>
            <button class="button" @click="onAddScore(true,-1)">-1</button> {{gameInfo.lScore}}
            <br> Foul
            <br>
            <button class="button" @click="onAddFoul(true,1)">+1</button>
            <button class="button" @click="onAddFoul(true,-1)">-1</button> {{gameInfo.lFoul}}
            <br>
            <button class="button" @click="onStartGame()">开始比赛</button>
            <button class="button" @click="onStartTimer(true)">开始计时</button>
            <button class="button" @click="onStartTimer(false)">暂停计时</button>
            <button class="button" @click="onCommitGame(true)">提交比赛</button>
            <br>
            <span>加赛操作：左边选择对阵，开始比赛，提交加赛</span>
            <button class="button" @click="onCommitGame(false)">提交加赛</button>
            <br>
            <button class="button" @click="onSetGameResult">修改比分</button>
            <button class="button" @click="onBracket">bracket</button>
            <br>

            <button class="button" @click="onClearGame(0)">清除比赛数据</button>
            <button class="button" @click="onClearGame(1)">清除大师赛数据</button>
            <button class="button" @click="onTestGame">testGame</button>
        </div>
        <div class="column">
            <br>
            <br>
            <br> {{gameInfo.rScore}}
            <button class="button" @click="onAddScore(false,1)">+1</button>
            <button class="button" @click="onAddScore(false,-1)">-1</button>
            <br>
            <br> {{gameInfo.rFoul}}
            <button class="button" @click="onAddFoul(false,1)">+1</button>
            <button class="button" @click="onAddFoul(false,-1)">-1</button>

        </div>

        <div class="column">
            <button class="button" @click="onProgress()">小组进度</button>
            <button class="button" @click="onSetMaster()">大师赛排名</button>
            <div>
                <li v-for="(p,idx) in playerRank">
                    [{{idx+1}}] {{p.name}} win {{p.win}} beat{{p.beat}} 净胜{{p.dtScore}}
                    <div v-if='idx==7'>----------</div>
                </li>
                <div>-----master-----</div>
                <li v-for="(p,idx) in masterBracket">
                    <button class="button" @click="onAddFoul(false,-1)">↑</button>
                    <button class="button" @click="onAddFoul(false,-1)">↓</button> [{{idx+1}}] {{p.name}} win {{p.win}} beat{{p.beat}} 净胜{{p.dtScore}}
                </li>
            </div>
        </div>

    </div>
</div>