<div class="box" style="position:absolute;left=200px;top=0;width:500px">
    <label class="label">Name</label>
    <p class="control">
        <input class="input" type="text"/>
    </p>
    <div class="columns">
        <div class="column is-one-quarter">
            <label class="label">身高</label>
            <p class="control">
                <input class="input" type="text"/>
            </p>
        </div>

        <div class="column is-one-quarter">
            <label class="label">體重</label>
            <p class="control">
                <input class="input" type="text"/>
            </p>
        </div>
    </div>
</div>