<div>
    <aside class="menu" style="width:250px">
        <p class="menu-label">
            Player
        </p>
        <ul class="menu-list">
            <ul>
                <li><a href="#">添加Player</a></li>
                <li><a href="#">同步数据</a></li>
            </ul>
        </ul>
    </aside>

    <div id="player-grid"  style="position: relative;left: 290px">
        <div class="box" v-for="player in playerArr" style="display: inline-block;width: 400px;height: 300px;">
            <img v-bind:src="player.portrait">
            <div class="content">
                {{player.name}}
                <i class="icon edit" @click="onEdit(player)">edit</i>
                id:{{player.id}}
            </div>
        </div>
    </div>

    <editForm :playerInfo='editPlayerDoc'></editform>
</div>