<div>
    <aside class="menu" style="width:250px">
        <p class="menu-label">
            Player
        </p>
        <ul class="menu-list">
            <ul>
                <li><a href="#">添加Player</a></li>
                <li><a href="#">同步数据</a></li>
            </ul>
        </ul>
    </aside>

    <div id="player-grid" style="position: relative;left: 290px;width: 800px">
        <div class="box" v-for="player in playerArr" style="display: inline-block;width:200px;">
            <img v-bind:src="player.portrait" @click="onEdit(player)">
            <img v-bind:src="'/img/player/avatar/'+player.avatar" style="width: 50px">
            <div class="content">
                {{player.name}} id:{{player.id}}
                <br> 背号:{{player.number}}
            </div>
        </div>
    </div>

    <editForm :playerInfo='editPlayerDoc' v-if='isEdit'>
    </editform>
</div>