<aside class="menu">
    <p class="menu-label">
        Player
    </p>
    <ul class="menu-list">
        <ul>
            <li><a href="#">添加Player</a></li>
            <li><a href="#">同步数据</a></li>
        </ul>
    </ul>
    <div id="player-grid" class="col s10" style="position: relative;left: 290px">
        <div class="box" v-for="player in playerArr" style="display: inline-block;width: 400px;height: 300px;">
            <div class="col s12">
                <div class="content">
                    <img v-bind:src="player.portrait||''">
                    <div class="hidden content">
                        <span class="card-title activator grey-text text-darken-4">{{player.name}}
                                <i class="material-icons right" @click="onEdit(player.id,$event)">mode_edit</i></span> 本轮得分:{{player.curFtScore}} 总分:{{player.ftScore}} id:{{player.id}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>