<div class="container">
    <a href="/html/ww/group.html">小组赛</a>
    <a href="/html/ww/index.html">8进4 final晋级</a>
    <a href="/html/ww/rank8.html">rank8</a>
    <a href="/html/intro/ww/intro.html?group=a">小组介绍 group=a</a>
    <hr>
    <span class="select">
            <select v-model="selected" @change="onSelectGame">
                <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </span>

    <input type="file" id="files" accept="*.json" hidden>
    <input type="text" v-model="vsPlayer" style="width: 100px;">
    <button class="button is-primary" @click="onInitGame">初始比赛</button>
    <button class="button is-primary" @click="onCreateGame">创建比赛</button>
    <button class="button is-primary" @click="onInitDoc">init doc</button>
    <br>
    <br>
    <button class="button is-primary" @click="onFile">打开配置</button>
    <button class="button is-primary" id="reloadFile" @click="reloadFile">reload</button>
    <br>

    <div style="width: 900px;">
        <br> score rank:
        <br>
        <button class="button is-primary" @click="onShowScoreRank(true)">show</button>
        <button class="button is-primary" @click="onReloadShow()">reload show</button>
        <button class="button is-primary" @click="onSetPlayerDeactive()">set player deactive</button>
        <button class="button is-primary" @click="onShowScoreRank(false)">hide</button>
        <br>
        <button class="button is-primary" @click="onAddScore(true,-1)">L-1</button>
        <button class="button is-primary" @click="onAddScore(true,1)">L+1</button> ----------
        <button class="button is-primary" @click="onAddScore(false,1)">R+1</button>
        <button class="button is-primary" @click="onAddScore(false,-1)">R-1</button>
        <br>
        <div class="level">
            <div class="level-left">
                <ul style="width:400px;overflow:hidden;zoom:1;border:1px solid #ccc">
                    <li style="float:left;width:190px;padding:5px" v-for="player in blueArr">
                        <button class="button is-primary" @click="onChangePlayer(true,player.playerId)">{{player.name}}</button>
                    </li>
                </ul>
            </div>
            <div class="level-right">
                <ul style="width:400px;overflow:hidden;zoom:1;border:1px solid #ccc">
                    <li style="float:left;width:190px;padding:5px" v-for="player in redArr">
                        <button class="button is-primary" @click="onChangePlayer(false,player.playerId)">{{player.name}}</button>
                    </li>
                </ul>
            </div>
        </div>

        <table class="table is-striped is-bordered">
            <thead>
                <tr>
                    <th><abbr title="Position">#gameIdx</abbr></th>
                    <th>L player</th>
                    <th>score</th>
                    <th>R player</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(rec,index) in recArr" :key="index" v-bind:class="[rec.gameIdx==selGameIdx?'is-selected':'']">
                    <th><a @click="setGameIdx(rec.gameIdx)">#####{{rec.gameIdx}}</a></th>
                    <td> {{rec.name[0]}} </td>
                    <td> {{rec.score[0]}} - {{rec.score[1]}} </td>
                    <td> {{rec.name[1]}} </td>
                    <td>
                        <div class="control" v-if="rec.gameIdx==selGameIdx">
                            <input class="input" :id="'scoreInput'+rec.gameIdx" type="text" style="width: 80px;">
                            <button class="button btn-setScore" @click="onSetScore(rec.gameIdx)">修改比分</button>
                            <button class="button" @click="onSetVS(rec.gameIdx,vsPlayer)">修改对阵↑</button>
                            <button class="button is-danger" @click="onDeleteGameRec(rec.gameIdx)">删除</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>