<div class="container">
    game id: <input type="text" v-model="game_id_input" style="width: 100px;">
    <button class="button is-primary" @click="onGetPlayerList(game_id_input)">获取球员列表</button>
    <button class="button is-primary" @click="onGetPlayerList(8090)">获取球员列表8090</button>
    <hr>
    <span class="select">
            <select v-model="selected" @change="onSelectGame">
                <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </span>
    <input type="file" id="files" accept="*.json" hidden>
    <input type="text" v-model="vsPlayer" style="width: 100px;">
    <button class="button is-primary" @click="onInitGame">初始比赛</button>
    <button class="button is-primary" @click="onCreateGame">创建比赛</button>
    <br>
    <br>
    <button class="button is-primary" @click="onFile">打开配置</button>
    <button class="button is-primary" id="reloadFile" @click="reloadFile">reload</button>

    <br>

    <div style="width: 900px;">
        <br> score rank:
        <br>
        <button class="button is-primary" @click="onShowScoreRank(true)">show</button>
        <button class="button is-primary" @click="onReloadShow()">reload show</button>
        <button class="button is-primary" @click="onSetPlayerDeactive()">set player deactive</button>
        <button class="button is-primary" @click="onShowScoreRank(false)">hide</button>
        <br>
        <br>抢五比分 rank5 playerId
        <button class="button is-primary" @click="onGetRank5Player()">获取球员</button> -----------发送抢五胜出球员到APP
        <div v-for="(p, index) in rank5PlayerArr" :key="p.name">
            <button class="button is-primary" @click="onUpdateRank5Score(p.playerId,p.score)">{{p.name}}</button>
            <input type="text" v-model="p.score" style="width: 100px;"> =============>
            <button class="button is-primary" @click="onSendRank5Winner(p.playerId)">{{p.name+p.playerId}}</button>
            <br>
        </div>
        <br>
        <button class="button" @click="onEmitBracket(actTab)">emit bracket rec</button>
        <br>
        <div class="tabs  is-boxed">
            <ul>
                <li v-bind:class="{ 'is-active': actTab== 'tab1'}" @click='tab("tab1")'>
                    <a>
                        <span>picker</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active': actTab== 'tab3'}" @click='tab("tab3")'>
                    <a>
                        <span>rec</span>
                    </a>
                </li>

                <li v-bind:class="{ 'is-active': actTab== 'tab6'}" @click='tab("tab6")'>
                    <a>
                        <span>rank 16</span>
                    </a>
                </li>
            </ul>
        </div>
        <div v-if='actTab=="tab1"' class="level">
            <div class="level-left">
                <ul style="width:400px;overflow:hidden;zoom:1;border:1px solid #ccc">
                    <li style="float:left;width:130px;padding:5px" v-for="player in blueArr">
                        <button class="button is-primary" @click="onChangePlayer(true,player.playerId)">{{player.name}}</button>
                    </li>
                </ul>
            </div>
            <div class="level-right">
                <ul style="width:400px;overflow:hidden;zoom:1;border:1px solid #ccc">
                    <li style="float:left;width:130px;padding:5px" v-for="player in redArr">
                        <button class="button is-primary" @click="onChangePlayer(false,player.playerId)">{{player.name}}</button>
                    </li>
                </ul>
            </div>
        </div>
        <div v-if='actTab=="tab3"' style="overflow-y: scroll;height: 800px;">
            <button class="button" @click="onEmitBracket(actTab)">emit bracket rec</button>
            <button class="button is-primary" @click="onPostGame(selGameIdx)">发送赛果到APP</button>
            <table class="table is-striped is-bordered">
                <thead>
                    <tr>
                        <th><abbr title="Position">#gameIdx</abbr></th>
                        <th>L player</th>
                        <th>score</th>
                        <th>R player</th>
                        <th>operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(rec,index) in recArr" :key="index" v-bind:class="[rec.gameIdx==selGameIdx?'is-selected':'']">
                        <th><a @click="setGameIdx(rec.gameIdx,rec.player)">#####{{rec.gameIdx}} {{rec.isGroup}}</a></th>
                        <td> {{rec.name[0]}} </td>
                        <td> {{rec.score[0]}} - {{rec.score[1]}} </td>
                        <td> {{rec.name[1]}} </td>
                        <td>
                            <div class="control" v-if="rec.gameIdx==selGameIdx">
                                <input class="input" :id="'scoreInput'+rec.gameIdx" type="text" style="width: 80px;">
                                <button class="button btn-setScore" @click="onSetScore(rec.gameIdx)">修改比分</button>
                                <button class="button btn-setScore" @click="onSetVsPlayer(rec.gameIdx,vsPlayer)">修改对阵</button>
                                <button class="button btn-setScore" @click="onSetGameEnd(rec.gameIdx)">设置比赛结束</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="button is-danger" @click="onInitDoc">init doc</button>
        </div>

        <div v-if="actTab=='tab6'">
            rank 5 playerId<input type="text" v-model="rank5Player" style="width: 80px;">
            <button class="button is-primary" @click="onGenRank16(rank5Player)">rank16</button>
            <br>
            <button class="button is-primary" @click="onPostRank16(1)">rank16 1120</button>
            <ul>
                <li v-for="(player,index) in rank16Arr" :key="player" style="float:left;width:190px;padding:5px">
                    {{player.rank}} - {{player.name}}[{{player.rankScore}}]
                </li>
            </ul>
        </div>
        {{p1WinMap}}
    </div>
</div>