<div class="box" v-if='isOp' style="opacity:0.8;width:1000px;left:100px;top:50px">
    <label class="label"> 滚动字幕： 秒      内容</label>
    <label class="checkbox">
        <input type="checkbox">
        滚动
     </label>
    <input class="input" type="text" v-model='headerTextSec' style="width:50px" />
    <input class="input" type="text" v-model='headerText' @keyup.enter='onShowHeaderText(headerText,headerTextSec)' style="width:650px" />
    <label class="label"> 小节：</label>
    <input class="input" type="text" v-model='queter' @keyup.enter='onQueter(queter)' style="width:50px" />
    <label class="label"> 比分：</label>
    <div class="columns">
        <div class="column">
            <button class="button" @click="onScore(true,leftScore-1)"> -1</button>
            <button class="button" @click="onScore(true,leftScore-2)"> -2</button>
            <button class="button" @click="onScore(true,leftScore-3)"> -3</button>
            <input class="input" type="text" v-model='leftScore' @keyup.enter='onScore(true,leftScore)' style="width:50px" />
            <button class="button" @click="onScore(true,leftScore+1)"> +1</button>
            <button class="button" @click="onScore(true,leftScore+2)"> +2</button>
            <button class="button" @click="onScore(true,leftScore+3)"> +3</button>
        </div>
        <div class="column">
            <button class="button" @click="onScore(false,rightScore-1)"> -1</button>
            <button class="button" @click="onScore(false,rightScore-2)"> -2</button>
            <button class="button" @click="onScore(false,rightScore-3)"> -3</button>
            <input class="input" type="text" v-model='rightScore' @keyup.enter='onScore(false,rightScore)' style="width:50px" />
            <button class="button" @click="onScore(false,rightScore+1)"> +1</button>
            <button class="button" @click="onScore(false,rightScore+2)"> +2</button>
            <button class="button" @click="onScore(false,rightScore+3)"> +3</button>
        </div>
    </div>
    <label class="label">暂停：</label>
    <div class="columns">
        <div class="column">
            <input class="input" type="text" v-model='leftTimeup' @keyup.enter='onTimeup(true,leftTimeup)' style="width:50px" />
        </div>
        <div class="column">
            <input class="input" type="text" v-model='rightTimeup' @keyup.enter='onTimeup(false,rightTimeup)' style="width:50px" />
        </div>
    </div>
    <label class="label">球员</label>
    <div class="columns">
        <div class="column">
            <input v-for="_,index in leftPlayerArr" class="input" type="text" v-model='leftPlayerArr[index]' @keyup.enter='onPlayer(true,leftPlayerArr[index],index)' style="width:40px" />
            <button class="button" @click="onPlayer(true,leftPlayerArr,-1)">set</button>
            <button class="button" @click="onHidePlayer(true)">hide</button>
        </div>
        <div class="column">
            <input v-for="_,index in rightPlayerArr" class="input" type="text" v-model='rightPlayerArr[index]' @keyup.enter='onPlayer(false,rightPlayerArr[index],index)' style="width:40px" />
            <button class="button" @click="onPlayer(false,rightPlayerArr,-1)">set</button>
            <button class="button" @click="onHidePlayer(false)">hide</button>
        </div>
    </div>
    <button class="button is-large" @click="onToggleTimer()">Toggle</button>
    <button class="button is-large" @click="onResetTimer()">Reset</button>
</div>